.footer {
  padding: 40px 0;
  background-color: #9a566ce5;
  color: white;
  width: 98.95vw; 
  position: relative; 
  bottom: 0; 
}

.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer li {
  display: inline-block; 
  padding: 0 10px;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer .social > a:hover {
  opacity: 0.9;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #cfcece;
  margin-bottom: 0;
}

.footer .footer-break {
  height: 1.5px;
  width: 90%;
  margin: 1rem auto;
  border-width: 0;
  background-color: white;
}

.footer-logo {
  /* background-color: red; */
  margin: 1rem auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  font-weight: 500;
}

#FooterLogo {
  max-width: 13rem;
  height: auto;
  margin: 0.7rem 3rem 0 1rem;
  transition: transform 0.2s ease-in-out;
}