.left-section {
  background-color: white;
  width: 40vw !important;
  height: 130vh;
  margin-left: 8vw !important;
  padding: 0 !important;
  margin-bottom: -1rem !important;
  -webkit-box-shadow: 0px -9px 8px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -9px 8px 7px rgba(0,0,0,0.3);
  box-shadow: 0px -9px 8px 7px rgba(0,0,0,0.3);
}

.form-container {
  position: relative;
  max-width: 50vw;
  margin-top: 20rem;
}

.form-container input {
  border-radius: 0;
  transition: ease-in-out 0.2s;
}

.form-container input:focus,
.form-container input :active {
  border-radius: 0 !important;
  outline: none;
  border-color: black;
}

.form-container button {
  margin: 1rem 0rem;
  border-radius: 0;
  transition: ease-in-out 0.2s;
}

#LoginLogo {
  max-width: 15rem;
  height: auto;
  position: absolute;
  top: -4rem;
  left: -1rem;
}


.welcome-font {
  font-family: "Dancing Script", cursive;
  font-size: 8rem;
  color: black;
  position: absolute;
  right: 10rem;
  top: 15rem;
}