.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.login-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  margin-top: -150px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card form {
  position: relative;
}

.login-card form input {
  width: calc(100% - 45px); 
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-card form button {
  width: 100%;
  padding: 10px;
  background-color: #f3969a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-card form button:hover {
  background-color: #cf8083;
}

.login-card p {
  margin-top: 15px;
}

.login-card p a {
  color: #1f9947;
  text-decoration: none;
}

.login-card p a:hover {
  text-decoration: underline;
}
