.high{
  width: 98.9vw;
  height: 240vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-container {
  max-width: 600px; /* Make it smaller */
  margin: 5vh auto; /* Center vertically */
  margin-top: 55vh;
  padding: 30px; /* Adjusted padding */
  background-color: #f9f9f9;
  border-radius: 10px;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.payment-title {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #d74894;
}

.payment-subtitle {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #d74894;
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
} 

.btn-submit {
  padding: 10px 20px;
  background-color: #df6da9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #d74894;
}

.btn-cancel {
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #1565c0;
}

.disclaimer {
  margin-top: 30px;
  font-size: 0.85rem;
  color: #df6da9;
  line-height: 1.5;
}
